<div class="row">
    <div class='col-3 col-md-3 col-ms-3'>
   
          <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../assets/img/lamp-400.jpg" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">{{subtitulo}}</h5>
          <h1>{{titulo}}</h1>
          <p class="card-text">{{contenido}}</p>
          </div>

          <div class="card-body">
          <a href="#" class="card-link">{{link1}}</a>
          <a href="#" class="card-link">{{link2}}</a>
          </div>
  </div>
</div>
  <div class='col-3 col-md-3 col-sm-3'>
    <div class="card-body">
      <p>{{comillas}}</p>
      <h1>{{titulo2}}</h1>
      <h2></h2>
    </div>
    </div>

    <div class='col-3 col-md-3 col-sm-3'>

        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/img/tulips-150.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{subtitulo2}}</h5>
        <h1>{{titulo3}}</h1>
        <p class="card-text">{{contenido3}}</p>
        </div>

        <div class="card-body">
        <a href="#" class="card-link">{{link3}}</a>
        
        </div>
       </div>
    </div>
        <div class='col-3 col-md-3 col-sm-3'>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/img/cookies-150.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{subtitulo3}}</h5>
            <h1>{{titulo4}}</h1>
            <p class="card-text">{{contenido4}}</p>
            </div>
    
            <div class="card-body">
            <a href="#" class="card-link">{{link4}}</a>
            
            </div>
            </div>
        </div>
        <div class='col-3 col-md-3 col-sm-3'>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/img/guitarman-400.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{subtitulo4}}</h5>
            <h1>{{titulo5}}</h1>
            <p class="card-text">{{contenido5}}</p>
            </div>
    
            <div class="card-body">
            <a href="#" class="card-link">{{link5}}</a>
            
            </div>
            </div>
        </div>
        <div class='col-3 col-md-3 col-sm-3'>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/img/wheel.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{subtitulo5}}</h5>
            <h1>{{titulo6}}</h1>
            <p class="card-text">{{contenido6}}</p>
            </div>
    
           
           
            <div class="card-body">
            <a href="#" class="card-link">{{link6}}</a>
            
            </div>
            </div>
        </div>
        <div class='col-3 col-md-3 col-sm-3'>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/img/fotorafa.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{subtitulo7}}</h5>
            <h1>{{titulo7}}</h1>
            <p class="card-text">{{contenido7}}</p>
            </div>
    
            <div class="card-body">
            <a href="#" class="card-link">{{link7}}</a>
            
            </div>
            </div>
        </div>

        <div class='col-3 col-md-3 col-sm-3'>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/img/gallery-1-400.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{subtitulo8}}</h5>
            <h1>{{titulo8}}</h1>
            <p class="card-text">{{contenido8}}</p>
            </div>
    
            <div class="card-body">
            <a href="#" class="card-link">{{link8}}</a>
            
            </div>
            </div>
        </div>

        <div class='col-3 col-md-3 col-sm-3'>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/img/jump-400.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{subtitulo9}}</h5>
            <h1>{{titulo9}}</h1>
            <p class="card-text">{{contenido9}}</p>
            </div>
    
            <div class="card-body">
            <a href="#" class="card-link">{{link9}}</a>
            
            </div>
            </div>
        </div>

        <div class='col-3 col-md-3 col-sm-3'>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/img/beetle-150.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{subtitulo10}}</h5>
            <h1>{{titulo10}}</h1>
            <p class="card-text">{{contenido10}}</p>
            </div>
    
            <div class="card-body">
            <a href="#" class="card-link">{{link10}}</a>
            
            </div>
            </div>
        </div>

        <div class='col-3 col-md-3 col-sm-3'>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/img/fuji-400.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{subtitulo11}}</h5>
            <h1>{{titulo11}}</h1>
            <p class="card-text">{{contenido11}}</p>
            </div>
    
            <div class="card-body">
            <a href="#" class="card-link">{{link11}}</a>
            
            </div>
            </div>
        </div>

        <div class='col-3 col-md-3 col-sm-3'>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/img/sydney-400.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{subtitulo12}}</h5>
            <h1>{{titulo12}}</h1>
            <p class="card-text">{{contenido12}}</p>
            </div>
    
            <div class="card-body">
            <a href="#" class="card-link">{{link12}}</a>
            
            </div>
            </div>
        </div>


       
</div>

